<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div layout:fragment="siteContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg"><img width="100%" alt="user" th:src="@{'/images/unnamed.png'}">
                        <!--<div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg"
                                                                  class="thumb-lg img-circle" alt="img"></a>
                                <h4 class="text-white mt-2">User Name</h4>
                                <h5 class="text-white mt-2">info@myadmin.com</h5>
                            </div>
                        </div>-->
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" th:action="@{'/update-profile'}" class="form-horizontal form-material">
                            <div class="form-group mb-4">
                                <label for="update-full-name" class="col-md-12 p-0">Полное Имя</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" th:value="${#authentication.principal.fullName}"
                                           class="form-control p-0 border-0" id="update-full-name" name="fullName"></div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="update-email" class="col-md-12 p-0">Email Почта</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="email" th:value="${#authentication.principal.email}"
                                           class="form-control p-0 border-0"
                                           id="update-email" name="email">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" >Обновить Профиль</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>