<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="siteContent">
    <div class="row">
        <div class="col-4 mx-auto mt-5">
            <div class="alert alert-success" role="alert" th:if="${param.success != null}">
                Пароль успешно изменен!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.oldpassworderror != null}">
                Старый пароль неправильный!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.passwordmissmatch != null}">
                Пароли не совпадают!
            </div>
            <form method="post" th:action="@{'/to-update-password'}" class="mx-auto">
                <div class="row mt-3" >
                    <div class="col">
                        <label for="password">Старый Пароль :</label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <input placeholder="Старый Пароль" type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col">
                        <label for="new_password">Новый Пароль :</label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <input placeholder="Новый Пароль" type="password" class="form-control" name="new_password" id="new_password">
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col">
                        <label for="re_new_password">Повторите Новый Пароль :</label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <input placeholder="Повторите Новый Пароль" type="password" class="form-control" name="re_new_password" id="re_new_password">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Обновить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>